<div class="row dashboard">
    <div class="panel panel-warning">
                <div class="panel-heading"><strong>Contact Us</strong> <strong class="pull-right">Call us on. 1860 425 0025 </strong></div>
                <div class="panel-body" style="padding:10px 20px;">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <p class="bg-warning error" style="padding:10px; display:none;">Please select subject of the form</p>
                            <form role="form">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Subject</label>
                                    
                                    <select name="" id="" class="form-control">
                                        <option value="">Select Subject</option>
                                        <option value="">Claims Related Query </option>
                                        <!-- <option value="">Provider Management</option>
                                        <option value=""> Provider Contract</option>
                                         --><option value=""> Payment Related</option>
                                        <option value=""> General Query</option>
                                        <option value=""> Feedback</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Message</label>
                                    <textarea name="" id=""  rows="5" style="width:100%;"  class="form-control"></textarea>
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                           
                            <h4 style="margin-top:20px;">or Write to us at</h4>
                            <p><strong>Medi Assist India TPA Pvt. Ltd.</strong><br>	 
                                Sri Krishna Arcade, 47/1,<br>
                                9th Cross, 1st Main Road, <br>	  	  
                                Sarakki Industrial Layout, <br>
                                3rd Phase, J P Nagar, <br>
                                Bangalore, Karnataka - 560 078</p>
                        </div>
                    </div>
                </div>
            </div>
</div>
