<style>
	.clickable{
		cursor: pointer;
	}
	#accordion{
		padding: 20px;
	}	
</style>
<div class="row dashboard">
	<ul class="nav nav-tabs" id="faqtabs">
        <li class="active"><a href="#cashless" data-toggle="tab"><strong>Cashless</strong></a></li>
        <li><a href="#general" data-toggle="tab"><strong>General</strong></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="cashless">
            <!--Cashless-->
             <div class="panel panel-default">
                <div class="panel-group" id="accordion">
	                <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h4 class="panel-title">
	                            <a data-toggle="collapse" data-parent="#accordion" class="clickable" data-target="#collapse10"> What is meant by cashless hospitalization? </a>
	                        </h4>
	                    </div>
	                    <div id="collapse10" class="panel-collapse collapse">
	                        <div class="panel-body">
	                            <p>Cashless Hospitalisation facility is available only at Network Hospitals. Cashless hospitalisation Facility enables the insured to obtain admission at designated hospitals subject to obtaining an Authority Letter from Medi Assist. In such cases, Medi Assist settles the hospital bills directly on your behalf.</p>
	                        </div>
	                    </div>
	                </div>
	                <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h4 class="panel-title">
	                            <a data-toggle="collapse" data-parent="#accordion" class="clickable" data-target="#collapse11">
	                                What is the procedure for planned hospitalization (cashless)?
	                            </a>
	                        </h4>
	                    </div>
	                    <div id="collapse11" class="panel-collapse collapse">
	                        <div class="panel-body">
	                            <p>In the case of a planned admission, you would have first consulted a doctor who in turn would have advised you on the probable date of hospitalization. In such a case, you must apply for an approval of the estimated hospital expenses directly with Medi Assist India at least 72 hrs prior to the date of hospitalization. TPA desk or Hospital executive may assist you in filling up the form and the same shall be sent to Medi Assist. </p>
	                            <p>Your claim would be assessed in the light of the policy issued to you by your insurance company and a letter of authorization will be issued to the hospital authorizing the patient's treatment. Once the Authority letter is sent to the hospital from Medi Assist, you need not pay to the hospital. Medi Assist will pay your hospital bills up to the amount authorized in the Authority letter.</p>
	                        </div>
	                    </div>
	                </div>
	                <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h4 class="panel-title">
	                            <a data-toggle="collapse" data-parent="#accordion" class="clickable" data-target="#collapse12">
	                                What is an emergency hospitalization (cashless)?
	                            </a>
	                        </h4>
	                    </div>
	                    <div id="collapse12" class="panel-collapse collapse">
	                        <div class="panel-body">
	                            <p>Emergency hospitalization is a hospitalization which requires immediate admission to the hospital when an insured or covered family member meets with a sudden accident or suffers from a bout of illness.</p>
	                        </div>
	                    </div>
	                </div>
	                <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h4 class="panel-title">
	                            <a data-toggle="collapse" data-parent="#accordion" class="clickable" data-target="#collapse13">
	                                What is the procedure for emergency hospitalization?
	                            </a>
	                        </h4>
	                    </div>
	                    <div id="collapse13" class="panel-collapse collapse">
	                        <div class="panel-body">
		                            <p><strong>Step 1</strong> Approach the nearest Network hospital. </p>
		                            <p><strong>Step 2</strong> Go to the TPA desk and fill in the Pre-auth form &amp; submit. Hospital would send the filled in pre authorization request form to Medi Assist. Medi Assist will check the liability and send authorization letter (in case if the hospitalization is warranted and admissible under policy terms) or denial letter.</p>
		                            <p><strong>Step 3</strong>
		                                <ol>
		                                    <li><strong>If authorization for cashless transaction from Medi Assist India has been received</strong>
		                                        <ul>
		                                            <li>At the time of discharge pay for those items that are not payable under the Health Insurance policy/excess/co-payments/deductibles </li>
		                                            <li>Verify the bills and sign on all the bills. </li>
		                                            <li>Leave the original discharge summary and other investigations reports with the network provider. - - Retain a Xerox copy for your record</li>
		                                        </ul>
		                                    </li>
		                                    <li><strong>In case of non-receipt of authorization from Medi Assist or if Authorization is denied by Medi Assist</strong>
		                                        <ul>
		                                            <li>At the time of discharge/leaving the network provider premises, please settle the bills in full and collect all the bills documents and reports. </li>
		                                            <li>Lodge your claim with Medi Assist India for processing and reimbursement </li>
		                                        </ul>
		                                    </li>
		                            </ol>
		                        </p>
		                    </div>
	                	</div>  
                	</div>        
		            <div class="panel panel-default">
		                <div class="panel-heading">
		                    <h4 class="panel-title">
		                        <a data-toggle="collapse" data-parent="#accordion" class="clickable" data-target="#collapse14">
		                            Is there any time limit to submit the Pre-authorization request?
		                        </a>
		                    </h4>
		                </div>
		                <div id="collapse14" class="panel-collapse collapse">
		                    <div class="panel-body">
		                        <p>In case of emergency or unplanned admission, the hospital must send the  pre-authorization request  to Medi Assist  within 24 hours from the time of admission .In case of planned hospitalization it is prudent to send the preauthorization request to Medi Assist at least 72 hours prior the admission date. This will ensure a hassle-free admission procedure for you at the hospital.</p>
		                    </div>
		                </div>
		            </div>
		            <div class="panel panel-default">
		                <div class="panel-heading">
		                    <h4 class="panel-title">
		                        <a data-toggle="collapse" data-parent="#accordion" class="clickable" data-target="#collapse15">
		                            Do my medical expenses incurred before and after hospitalization covered?
		                        </a>
		                    </h4>
		                </div>
		                <div id="collapse15" class="panel-collapse collapse">
		                    <div class="panel-body">
		                        <p>Yes, Mediclaim policy allows reimbursement of relevant medical expenses incurred during pre &amp; post hospitalization towards the ailment / disease for which hospitalisation was necessitated. This is subjected to the limits prescribed in the policy.</p>
		                    </div>
		                </div>
		            </div>
	            </div>
	        <!--Cashless-->
	        </div>
        </div>        
        <div class="tab-pane" id="general">
            <!--Genral-->
            <div class="panel panel-default">
	            <div class="panel-group" id="accordion">
	                <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h4 class="panel-title">
	                            <a data-toggle="collapse" data-parent="#accordion" class="clickable" data-target="#collapse16">
	                                I have sent the claim documents but I cannot see my claim status at www.medibuddy.in
	                            </a>
	                        </h4>
	                    </div>
	                    <div id="collapse16" class="panel-collapse collapse">
	                        <div class="panel-body">
	                            <p>In case of Pre-Authorization request submitted through a network hospital, Please wait for up to 3 hrs to know the claim status. And in case of reimbursement claim, please check the claim status after 3 working days from the date of submission at Medi Assist office or from the date of correspondence through courier.</p>
	                        </div>
	                    </div>
	                </div>
	                <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h4 class="panel-title">
	                            <a data-toggle="collapse" data-parent="#accordion" class="clickable" data-target="#collapse17">
	                                What happens to my Sum Insured after a claim is filed?
	                            </a>
	                        </h4>
	                    </div>
	                    <div id="collapse17" class="panel-collapse collapse">
	                        <div class="panel-body">
	                            <p>Sum Insured is reduced by the amount of claim paid for the rest of policy year.</p>
	                        </div>
	                    </div>
	                </div>
	                <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h4 class="panel-title">
	                            <a data-toggle="collapse" data-parent="#accordion" class="clickable" data-target="#collapse18">
	                                What is the maximum number of claims allowed during the policy period?
	                            </a>
	                        </h4>
	                    </div>
	                    <div id="collapse18" class="panel-collapse collapse">
	                        <div class="panel-body">
	                            <p>There is no upper limit on the number of claims during the policy period. However, the total cumulative claim amount cannot exceed the Policy Sum Insured.</p>
	                        </div>
	                    </div>
	                </div>
	                <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h4 class="panel-title">
	                            <a data-toggle="collapse" data-parent="#accordion" class="clickable" data-target="#collapse19">
	                                What is copay?
	                            </a>
	                        </h4>
	                    </div>
	                    <div id="collapse19" class="panel-collapse collapse">
	                        <div class="panel-body">
	                            <p>Copay is a percentage of amount which the policy holder has to bear at the time of discharge. It is applied on payable amount  &amp; the rest of the amount would be paid by the insurance company.</p>
	                        </div>
	                    </div>
	                </div>
	                <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h4 class="panel-title">
	                            <a data-toggle="collapse" data-parent="#accordion" class="clickable" data-target="#collapse20">
	                                What if the cost exceeds the level of hospitalization insurance cover?
	                            </a>
	                        </h4>
	                    </div>
	                    <div id="collapse20" class="panel-collapse collapse">
	                        <div class="panel-body">
	                            <p>If the Sum insured exhausted, then the claimant has to pay the balance amount.</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
            </div>
            <!--/Genral-->
        </div> 
    </div><!--/Tab panes-->    
</div>
