<style>
	.row{
		line-height: 25px;
	}
	.panel-heading h4{
		display: inline;
	}
</style>
<div class="dashboard">
	<div class="panel panel-warning">
	    <!-- <h4 style="margin-left:18px;">Hospital Profile</h4> -->
	    <div class="panel-heading"><h4>{{hospitalDetails.hospName}}</h4> <span class="pull-right">Hospital ID. <strong>{{hospitalDetails.hospId}}</strong></span></div>
	    <div class="panel-body" style="padding:10px 20px;"> 
	        <div class="row">
	            <div class="col-md-4 col-xs-4">Registration No.</div>
	            <div class="col-md-8 col-xs-8"><strong>xxxxxxxxx</strong></div>
	        </div>
	        <div class="row">
	            <div class="col-md-12 col-xs-12"><hr style="margin:0;"></div>
	        </div>
	        <div class="row">
	            <div class="col-md-4 col-xs-4">Address</div>
	            <div class="col-md-8 col-xs-8"><strong>{{hospitalDetails.address}}</strong></div>
	        </div> 
	        <div class="row">
	            <div class="col-md-4 col-xs-4">Pincode</div>
	            <div class="col-md-8 col-xs-8"><strong>{{hospitalDetails.pinCode}}</strong></div>
	        </div> 
	        <div class="row">
	            <div class="col-md-4 col-xs-4">City</div>
	            <div class="col-md-8 col-xs-8"><strong>{{city}}</strong></div>
	        </div> 
	        <div class="row">
	            <div class="col-md-4 col-xs-4">State</div>
	            <div class="col-md-8 col-xs-8"><strong>{{hospitalDetails.state}}</strong></div>
	        </div> 
	        <div class="row">
	            <div class="col-md-12 col-xs-12"><hr style="margin:0;"></div>
	        </div>
	        <div class="row">
	            <div class="col-md-4 col-xs-4">E-mail</div>
	            <div class="col-md-8 col-xs-8"><strong>{{hospitalDetails.emailAddress}}</strong></div>
	        </div> 
	        <div class="row">
	            <div class="col-md-4 col-xs-4">Phone No.</div>
	            <div class="col-md-8 col-xs-8"><strong>{{hospitalDetails.landlineNumber}}</strong></div>
	        </div>  
	        <div class="row">
	            <div class="col-md-4 col-xs-4">Contact Person</div>
	            <div class="col-md-8 col-xs-8"><strong>Contact Person's Name</strong></div>
	        </div>  
	        <div class="row">
	            <div class="col-md-4 col-xs-4">Mobile No.</div>
	            <div class="col-md-8 col-xs-8"><strong>+91 </strong><strong>98 44 999999</strong></div>
	        </div> 
	        <!-- <div class="row">
	            <div class="col-md-12 col-xs-12"><h5 class="text-primary">Bank details</h5> <hr style="margin:0;"></div>
	        </div> 
	        <div class="row">
	            <div class="col-md-4 col-xs-4">Bank</div>
	            <div class="col-md-8 col-xs-8"><strong>Citibank</strong></div>
	        </div> 
	        <div class="row">
	            <div class="col-md-4 col-xs-4">Account No.</div>
	            <div class="col-md-8 col-xs-8"><strong>01xxxxxx54</strong></div>
	        </div>

	        <div class="row">
	            <div class="col-md-4 col-xs-4">Account Holder Name</div>
	            <div class="col-md-8 col-xs-8"><strong>Mahatma Gandhi</strong></div>
	        </div> 
	        <div class="row">
	            <div class="col-md-4 col-xs-4">IFSC Code</div>
	            <div class="col-md-8 col-xs-8"><strong>CITI0000004</strong></div>
	        </div> 
	        <div class="row">
	            <div class="col-md-4 col-xs-4">Branch</div>
	            <div class="col-md-8 col-xs-8"><strong>MG Road, Bangalore</strong></div>
	        </div> 
	         -->
	        
	    </div>

	    <div class="panel-footer clearfix" ng-show="admin">	        
            <button type="button" class="btn btn-primary pull-right" ng-click="">Edit Hospital Details</button>
	    </div>
	</div>
</div>
