<style>
    form.add-user{
        width: 400px;
        margin: 0 auto;
    }
</style>
<div class="usermanagement">
    <ul id="myTab" class="nav nav-tabs" role="tablist">
      <li class="active">
        <a href="/#users" role="tab" data-toggle="tab">
              <i class="glyphicon glyphicon-user"></i>
              Registered Users({{userCount}})
        </a>
      </li>           
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="users">            
            <div class="panel panel-default">
                <div class="panel-body">    
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Login id</th>
                                    <th>Full Name</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                    <th class="text-right" ng-show="isAdmin()">Actions</th>
                                    <!-- <th class="text-right">Date Created</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="userRow in data.users">                                    
                                    <td>{{userRow.userName}}</td>
                                    <td>{{userRow.firstName}} {{userRow.lastName}}</td>
                                    <td ng-show="!editing">{{userRow.role}}</td>
                                    <td ng-show="!editing">{{userRow.isActive?"Active":"InActive"}}</td>
                                    <td ng-show="editing">
                                        <select class="role form-control" ng-model="update.updateUserRole" ng-options="role.lookUpValue for role in roles track by role.lookUpId"></select>
                                        <!-- <select class="role form-control" ng-model="update.updateRole">
                                            <option value="1">Staff</option>
                                            <option value="Admin">Admin</option>                        
                                        </select> -->
                                    </td>
                                    <td ng-show="editing">                                        
                                        <select class="form-control" name="update-status" id="update-status" ng-model="update.updateStatus">
                                          <option value="true">Active</option>
                                          <option value="false">Inactive</option>
                                        </select>
                                    </td>
                                    <td  class="text-right" ng-show="isAdmin()">
                                        <div class="btn-group btn-group-xs" ng-show="editing">
                                            <button type="button" class="btn btn-success" ng-show="editing" ng-click="editing=false;updateUser({{userRow}}, $event)">
                                              <span class="glyphicon glyphicon-edit"></span> Update
                                            </button>
                                            <button type="button" class="btn btn-warning"  ng-click="editing=false">
                                              <span class="glyphicon glyphicon-remove"></span> Cancel
                                            </button>
                                        </div>                                        
                                        <div class="btn-group btn-group-xs" ng-show="!editing">
                                            <button type="button" class="btn btn-info"  ng-click="editing=true">
                                              <span class="glyphicon glyphicon-edit"></span> Edit
                                            </button>                                            
                                        </div>                                        
                                    </td>
                                </tr>                               
                            </tbody>
                        </table>
                    </div>  
                </div>
            </div>
            <button data-toggle="modal" data-target="#myModal" class="btn btn-primary" ng-show="isAdmin()">Add User</button>
            <!-- <button  class="btn btn-danger" ng-show="addUserBtn" ng-click="addUserBtn=false">Cancel</button> -->
            <!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Add a User</h4>
        </div>
        <div class="modal-body">
            <form id="addUserForm" role="form" class="add-user">                    
                  <div class="form-group">
                    <label for="username">Login id</label>
                    <input type="text" class="form-control" id="username" ng-model="newuser.username" placeholder="User Name to login">
                  </div>
                  <div class="form-group">
                    <label for="firstname">First name</label>
                    <input type="text" class="form-control" id="firstname" ng-model="newuser.firstname" placeholder="Enter first name(Ex: Vikram)">
                  </div>
                  <div class="form-group">
                    <label for="lastname">Last name</label>
                    <input type="text" class="form-control" id="lastname" ng-model="newuser.lastname" placeholder="Enter last name (Ex: Chattwal)">
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" ng-model="newuser.password" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="confirm-password">Confirm password</label>
                    <input type="password" class="form-control" id="confirm-password" ng-model="newuser.confirmpassword" placeholder="Confirm Password">
                  </div>
                  <div class="form-group">
                    <label for="role">Select Role</label>
                      <select id="addUserRole" class="role form-control" ng-model="newUserRole" ng-options="role.lookUpValue for role in roles track by role.lookUpId"></select>
                  </div>                                    
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="addUser();addUserBtn=false" data-dismiss="modal">Save changes</button>
        </div>        
    </div>
  </div>
</div>
        </div>
    </div>
</div>








 